.expandCardStyles{
    padding-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #203380;
    color: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

}

@media screen and (max-width: 720px){
    .expandCardStyles{
        flex-direction: column;
        align-items: center;
    }
}